#conatiner{
    margin-top: 100px;
    text-align:center;
    background-color: rgb(204, 202, 198);
    padding:  25px;
    border-radius: 200px;
    max-width:  90%;
    border-radius: 10px;
   box-shadow: 5px 10px 15px rgb(11, 11, 11);
}
.text{
  background-color: rgb(16, 16, 17);
  color:azure;
  font-weight: bold;
  font-size: 20px;
  
}
.button{
    transition: background-color 0.3s;
    font-style: italic;
    font-size: large;
    margin: 10px;
    border:10px;
    background-color: rgba(146, 118, 69, 0.471);
}
.button:hover{
    background-color: beige;
    color:rgb(15, 16, 15);
    text-decoration-style: dotted;
    font-size: larger;
}
.text:hover{
    background-color: beige;
    color:rgb(15, 16, 15);
    text-decoration-style: dotted;
    font-size: larger;
}
#h1{
   text-align: center;
  font-style: bold;
  color: rgba(10, 112, 180, 0.451);


}
body{
     margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(66, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Temperature{
 width: auto;
 font-size: 2em;
 border: 2px;
 border-radius: 20px;
 text-align: center;
 margin-bottom: 3px;
}
